<div class="container-fluid hrow">
  <div class="row">
    <h4>အတန်းစာရင်းပြင်ခြင်း</h4>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-1 col-sm-3 col-md-3"></div>
  <div class="col-xs-10 col-sm-6 col-md-6">
    <form [formGroup]="form" (ngSubmit)="update()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data"
      autocomplete="off">
      <div class="form-group">
        <label>အတန်း<span class="star">*</span></label>
        <input type="text" formControlName="name" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('name')!.invalid && form.get('name')!.touched">
          <div *ngIf="form.get('name')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('name')!.errors?.['maxlength']" class="txt-error">Must not exceed 300 characters</div>
          <div *ngIf="form.get('name')!.errors?.['pattern']" class="txt-error">Must not include special characters</div>
          <div *ngIf="form.get('name')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with space
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>မှတ်ချက်<span class="star">*</span></label>
        <input type="text" formControlName="remark" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('remark')!.invalid && form.get('remark')!.touched">
          <div *ngIf="form.get('remark')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('remark')!.errors?.['maxlength']" class="txt-error">Must not exceed 20 characters</div>
          <div *ngIf="form.get('remark')!.errors?.['pattern']" class="txt-error">Must not include special characters
          </div>
          <div *ngIf="form.get('remark')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with
            space</div>
        </div>
      </div>
      <div class="form-group">
        <label>အတိုကောက်<span class="star">*</span></label>
        <input type="text" formControlName="abbreviate" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('abbreviate')!.invalid && form.get('abbreviate')!.touched">
          <div *ngIf="form.get('abbreviate')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('abbreviate')!.errors?.['maxlength']" class="txt-error">Must not exceed 30 characters
          </div>
          <div *ngIf="form.get('abbreviate')!.errors?.['pattern']" class="txt-error">Must not include special characters
          </div>
          <div *ngIf="form.get('abbreviate')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with
            space</div>
        </div>
      </div>
      <div class="form-group">
        <div class="lbtn">
          <button type="submit" class="bsearch btn">Update</button>
          <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
          <button type="button" class="bsearch btn" (click)="back()">Back</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>