<div class="container-fluid hrow">
    <div class="row">
        <h4>အောင်လက်မှတ်ထုတ်ခြင်း</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <form [formGroup]="form" (ngSubmit)="generate()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label>စာသင်နှစ်<span class="star">*</span></label>
                <select formControlName="academicYear" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let a of academicYearList" [ngValue]="a.id">
                        {{a.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('academicYear')!.invalid && form.get('academicYear')!.touched">
                    <div *ngIf="form.get('academicYear')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>စာမေးပွဲခေါင်းစဉ်<span class="star">*</span></label>
                <select formControlName="examTitle" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let e of examTitleList" [ngValue]="e.id">
                        {{e.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('examTitle')!.invalid && form.get('examTitle')!.touched">
                    <div *ngIf="form.get('examTitle')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>အတန်း<span class="star">*</span></label>
                <select formControlName="grade" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let g of gradeList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('grade')!.invalid && form.get('grade')!.touched">
                    <div *ngIf="form.get('grade')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>သာသနာတော်နှစ်<span class="star">*</span></label>
                <input type="text" formControlName="tharthanarYear" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('tharthanarYear')!.invalid && form.get('tharthanarYear')!.touched">
                    <div *ngIf="form.get('tharthanarYear')!.errors?.['required']" class="txt-error">Field is
                        required</div>
                    <div *ngIf="form.get('tharthanarYear')!.errors?.['pattern']" class="txt-error">Must be valid
                        year</div>
                    <div *ngIf="form.get('tharthanarYear')!.errors?.['startingWithWhiteSpace']" class="txt-error">
                        Must not start with
                        space
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>ကောဇာသက္ကရာဇ်<span class="star">*</span></label>
                <input type="text" formControlName="kawzarYear" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('kawzarYear')!.invalid && form.get('kawzarYear')!.touched">
                    <div *ngIf="form.get('kawzarYear')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                    <div *ngIf="form.get('kawzarYear')!.errors?.['pattern']" class="txt-error">Must be valid year
                    </div>
                    <div *ngIf="form.get('kawzarYear')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must
                        not start with
                        space
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>ခရစ်နှစ်<span class="star">*</span></label>
                <input type="text" formControlName="chrisYear" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('chrisYear')!.invalid && form.get('chrisYear')!.touched">
                    <div *ngIf="form.get('chrisYear')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                    <div *ngIf="form.get('chrisYear')!.errors?.['pattern']" class="txt-error">Must be valid year
                    </div>
                    <div *ngIf="form.get('chrisYear')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must
                        not start with space
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>ဖြေဆိုသည့်နေ့စွဲ<span class="star">*</span></label>
                <input type="date" formControlName="examDate" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('examDate')!.invalid && form.get('examDate')!.touched">
                    <div *ngIf="form.get('examDate')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>စာမေးပွဲကျင်းပသည့်အကြိမ်<span class="star">*</span></label>
                <input type="text" formControlName="examHoldingTimes" class="form-control" autocomplete="off" />
                <div
                    *ngIf="submitted || form.get('examHoldingTimes')!.invalid && form.get('examHoldingTimes')!.touched">
                    <div *ngIf="form.get('examHoldingTimes')!.errors?.['required']" class="txt-error">Field is
                        required
                    </div>
                    <div *ngIf="form.get('examHoldingTimes')!.errors?.['pattern']" class="txt-error">Must be between
                        1 and
                        200</div>
                    <div *ngIf="form.get('examHoldingTimes')!.errors?.['startingWithWhiteSpace']" class="txt-error">
                        Must not
                        start with space</div>
                </div>
            </div>
            <div class="form-group">
                <label>ထုတ်ပြန်သည့်ရက်စွဲ<span class="star">*</span></label>
                <input type="date" formControlName="releasedDate" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('releasedDate')!.invalid && form.get('releasedDate')!.touched">
                    <div *ngIf="form.get('releasedDate')!.errors?.['required']" class="txt-error">Field is
                        required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="lbtn">
                    <button type="submit" class="bsearch btn">Generate</button>
                    <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>