<div class="hrow">
    <h4>ဘာသာရပ်ကြီးစာမေးပွဲများတွင် လာရောက်ဖြေဆိုခဲ့သည့် စာသင်သားစာရင်းသွင်းခြင်း</h4>
</div>
<div class="container-fluid ttable">
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="search()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off">
            <div class="col-sm-2">
                <select formControlName="academicYear" class="fcontrol" style="margin: 20px 0px;">
                    <option [ngValue]="0">စာသင်နှစ်အားလုံး</option>
                    <option *ngFor="let a of academicYearList" [ngValue]="a.id">
                        {{a.name}}
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <select formControlName="examTitle" class="fcontrol" style="margin: 20px 0px;">
                    <option [ngValue]="0">စာမေးပွဲခေါင်းစဉ်အားလုံး</option>
                    <option *ngFor="let e of examTitleList" [ngValue]="e.id">
                        {{e.name}}
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <select formControlName="subjectType" class="fcontrol" style="margin: 20px 0px;">
                    <option [ngValue]="0">ဘာသာရပ်ကြီးစာမေးပွဲအားလုံး</option>
                    <option *ngFor="let s of subjectTypeList" [ngValue]="s.id">
                        {{s.name}} ({{s.grade.name}})
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" formControlName="keyword" class="fcontrol" style="margin: 20px 0px;"
                    autocomplete="off" placeholder="Filter Search" />
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-search" style="margin-top: 10px; margin-right:10px">Search</button>
                <button type="button" class="btn btn-search" style="margin-top: 10px;" (click)="reset()">Reset</button>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div *ngIf="submitted || form.get('keyword')!.invalid && form.get('keyword')!.touched" class="col-sm-6"
                    style="color: red">
                    <div *ngIf="form.get('keyword')!.errors?.['pattern']">Must not include special characters</div>
                    <div *ngIf="form.get('keyword')!.errors?.['startingWithWhiteSpace']">Must not start with space</div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <button class="btn btn-search" (click)="submit()" style="float: right; margin-bottom: 10px;">Make As
            Present</button>
        <table class="table table-bordered exptable table-responsive" id="myTable" matSort
            (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th style="width: 50px">
                        <input type="checkbox" class="fcontrol" (change)="checkUncheckAll()" [(ngModel)]="isCheckAll">
                    </th>
                    <th style="width: 80px" mat-sort-header="index">စဉ်</th>
                    <th style="width: 100px" mat-sort-header="regNo">ခုံနံပါတ်</th>
                    <th style="width: 100px" mat-sort-header="name">အမည်</th>
                    <th style="width: 100px" mat-sort-header="fatherName">အဖအမည်</th>
                    <th style="width: 100px" mat-sort-header="academicYear">စာသင်နှစ်</th>
                    <th style="width: 100px" mat-sort-header="examTitle">စာမေးပွဲခေါင်းစဉ်</th>
                    <th style="width: 200px" mat-sort-header="subjectType">ဘာသာရပ်ကြီးစာမေးပွဲ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of sortedData">
                    <td>
                        <input type="checkbox" class="fcontrol" (change)="isAllSelected($event, element.id)"
                            [(ngModel)]="element.check" value="{{element.id}}">
                    </td>
                    <td>{{element.index}}</td>
                    <td *ngIf="element.studentClass.regNo">{{element.studentClass.regNo}}</td>
                    <td *ngIf="!element.studentClass.regNo">-</td>
                    <td>{{element.studentClass.student.name}}</td>
                    <td>{{element.studentClass.student.fatherName}}</td>
                    <td>{{element.exam.academicYear.name}}</td>
                    <td>{{element.exam.examTitle.name}}</td>
                    <td>{{element.exam.subjectType.name}} ({{element.exam.subjectType.grade.name}})</td>
                </tr>
            </tbody>
        </table>
        <h2 style="color: red" *ngIf="sortedData.length == 0">No record found!</h2>
        <app-page-navigator [currentPage]="currentPage" [totalPageCount]="pageData.totalPages"
            (enterPaginationEvent)="enterPaginationEvent($event)"></app-page-navigator>
    </div>
</div>