<div class="container-fluid hrow">
    <div class="row">
        <h4>စာသင်သားကျူးလွန်ထားသော ပြစ်ဒဏ်ပေးစာရင်းပြင်ခြင်း</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <form [formGroup]="form" (ngSubmit)="update()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label>ကျူးလွန်သည့်ပြစ်ဒဏ်<span class="star">*</span></label>
                <input type="text" formControlName="punishment" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('punishment')!.invalid && form.get('punishment')!.touched">
                    <div *ngIf="form.get('punishment')!.errors?.['required']" class="txt-error">Field is required</div>
                    <div *ngIf="form.get('punishment')!.errors?.['maxlength']" class="txt-error">Must not exceed 150
                        characters
                    </div>
                    <div *ngIf="form.get('punishment')!.errors?.['pattern']" class="txt-error">Must not include special
                        characters
                    </div>
                    <div *ngIf="form.get('punishment')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not
                        start with
                        space
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>အကြောင်းအရာ<span class="star">*</span></label>
                <textarea formControlName="description" autocomplete="off" maxlength="300" rows="3" class="form-control"
                    style="width: 100%"></textarea>
                <div *ngIf="submitted || form.get('description')!.invalid && form.get('description')!.touched">
                    <div *ngIf="form.get('description')!.errors?.['required']" class="txt-error">Field is required</div>
                    <div *ngIf="form.get('description')!.errors?.['maxlength']" class="txt-error">Must not exceed 300
                        characters
                    </div>
                    <div *ngIf="form.get('description')!.errors?.['pattern']" class="txt-error">Must not include special
                        characters
                    </div>
                    <div *ngIf="form.get('description')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not
                        start with
                        space</div>
                    <div *ngIf="form.get('description')!.errors?.['linebreak']" class="txt-error">Must not include line
                        break
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>ကျူးလွန်သည့်နေ့စွဲ<span class="star">*</span></label>
                <input type="date" formControlName="eventDate" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('eventDate')!.invalid && form.get('eventDate')!.touched">
                    <div *ngIf="form.get('eventDate')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>ပြစ်ဒဏ်ပေးစတင်သည့်နေ့စွဲ<span class="star">*</span></label>
                <input type="date" formControlName="startDate" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('startDate')!.touched">
                    <div *ngIf="form.errors?.['required']" class="txt-error">Field is required</div>
                    <div *ngIf="form.errors?.['isGreaterThan']" class="txt-error">Must be equal to or less than end date
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>ပြစ်ဒဏ်ပေးပြီးဆုံးသည့်နေ့စွဲ<span class="star">*</span></label>
                <input type="date" formControlName="endDate" class="form-control" autocomplete="off" />
                <div *ngIf="submitted|| form.get('endDate')!.invalid && form.get('endDate')!.touched">
                    <div *ngIf="form.get('endDate')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>စာသင်သားအမည်</label>
                <input type="text" class="form-control" value="{{studentName}}" disabled>
            </div>
            <div class="form-group">
                <label>အဖအမည်</label>
                <input type="text" class="form-control" value="{{fatherName}}" disabled>
            </div>
            <div class="form-group">
                <div class="lbtn">
                    <button type="submit" class="bsearch btn">Update</button>
                    <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
                    <button type="button" class="bsearch btn" (click)="back()">Back</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>