<div class="container-fluid hrow">
  <div class="row">
    <h4>တည်းခိုဆောင်အသစ်စာရင်းသွင်းခြင်း</h4>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-1 col-sm-3 col-md-3"></div>
  <div class="col-xs-10 col-sm-6 col-md-6">
    <form [formGroup]="form" (ngSubmit)="save()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data"
      autocomplete="off">
      <div class="form-group">
        <label>တည်းခိုဆောင်အမည်<span class="star">*</span></label>
        <input type="text" formControlName="name" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('name')!.invalid && form.get('name')!.touched">
          <div *ngIf="form.get('name')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('name')!.errors?.['maxlength']" class="txt-error">Must not exceed 300 characters</div>
          <div *ngIf="form.get('name')!.errors?.['pattern']" class="txt-error">Must not include special characters</div>
          <div *ngIf="form.get('name')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with space
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>လိပ်စာ<span class="star">*</span></label>
        <textarea formControlName="address" autocomplete="off" maxlength="300" rows="3" class="form-control"
          style="width: 100%"></textarea>
        <div *ngIf="submitted || form.get('address')!.invalid && form.get('address')!.touched">
          <div *ngIf="form.get('address')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('address')!.errors?.['maxlength']" class="txt-error">Must not exceed 300 characters</div>
          <div *ngIf="form.get('address')!.errors?.['pattern']" class="txt-error">Must not include special characters
          </div>
          <div *ngIf="form.get('address')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with
            space</div>
          <div *ngIf="form.get('address')!.errors?.['linebreak']" class="txt-error">Must not include line break</div>
        </div>
      </div>
      <div class="form-group">
        <label>ဖုန်းနံပါတ်<span class="star">*</span></label>
        <input type="text" formControlName="phone" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('phone')!.invalid && form.get('phone')!.touched">
          <div *ngIf="form.get('phone')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('phone')!.errors?.['maxlength']" class="txt-error">Must not exceed 50 characters</div>
          <div *ngIf="form.get('phone')!.errors?.['pattern']" class="txt-error">Must be valid phone number</div>
          <div *ngIf="form.get('phone')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with space
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="lbtn">
          <button type="submit" class="bsearch btn">Save</button>
          <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
          <button type="button" class="bsearch btn" (click)="back()">Back</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>