.btn {
    padding-top: 7px;
    padding-bottom: 7px;
}

#submitForm {
    margin: 0px auto; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #submitForm {
        width: 80%;
    }

    .btn-right {
        margin-top: 15px;
        text-align: right;
    }

    #error {
        position: relative;
        top: -50px;
    }

    .margin-bottom {
        margin-bottom: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #submitForm {
        width: 70%;
    }

    .btn-right {
        margin-top: 15px;
        text-align: right;
    }
    
    #error {
        position: relative;
        top: -50px;
    }

    .margin-bottom {
        margin-bottom: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #submitForm {
        width: 80%;
    }

    .btn-right {
        margin-top: 0px;
        text-align: left;
    }

    #error {
        position: static;
    }

    .margin-bottom {
        margin-bottom: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #submitForm {
        width: 70%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #submitForm {
        width: 60%;
    }
}