<div class="hrow">
    <h4>ဖြေဆိုမည့်စာသင်သားများအား အခန်းနေရာချထားခြင်း</h4>
</div>
<div class="container-fluid">
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <form id="submitForm" [formGroup]="submitForm" (ngSubmit)="submit()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label>စာသင်နှစ်<span class="star">*</span></label>
                <select formControlName="academicYear" (change)="change()" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let a of academicYearList" [ngValue]="a.id">
                        {{a.name}}
                    </option>
                </select>
                <div
                    *ngIf="submittedForm || submitForm.get('academicYear')!.invalid && submitForm.get('academicYear')!.touched">
                    <div *ngIf="submitForm.get('academicYear')!.errors?.['required']" class="txt-error">Field is
                        required</div>
                </div>
            </div>
            <div class="form-group">
                <label>စာမေးပွဲခေါင်းစဉ်<span class="star">*</span></label>
                <select formControlName="examTitle" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let e of examTitleList" [ngValue]="e.id">
                        {{e.name}}
                    </option>
                </select>
                <div
                    *ngIf="submittedForm || submitForm.get('examTitle')!.invalid && submitForm.get('examTitle')!.touched">
                    <div *ngIf="submitForm.get('examTitle')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>အတန်း<span class="star">*</span></label>
                <select formControlName="grade" (change)="change()" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let g of gradeList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
                <div *ngIf="submittedForm || submitForm.get('grade')!.invalid && submitForm.get('grade')!.touched">
                    <div *ngIf="submitForm.get('grade')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>အခန်း<span class="star">*</span></label>
                <select formControlName="class" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let c of classList" [ngValue]="c.id">
                        {{c.name}}
                    </option>
                </select>
                <div *ngIf="submittedForm || submitForm.get('class')!.invalid && submitForm.get('class')!.touched">
                    <div *ngIf="submitForm.get('class')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <div class="lbtn">
                    <button type="submit" class="bsearch btn">Submit</button>
                    <button type="button" class="bsearch btn" (click)="resetForm()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>
<hr>
<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="search()" accept-charset="utf-8" htmlEscape="true"
        enctype="multipart/form-data" autocomplete="off">
        <div class="row">
            <div class="col-sm-3 margin-bottom">
                <select formControlName="region" class="form-control">
                    <option [ngValue]="0">ပြည်နယ်/တိုင်းအားလုံး</option>
                    <option *ngFor="let r of regionList" [ngValue]="r.id">
                        {{r.name}}
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" formControlName="keyword" class="form-control" autocomplete="off"
                    placeholder="Filter Search" />
            </div>
            <div class="col-sm-3 btn-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-info">Search</button>
                    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
                </div>
            </div>
        </div>
        <div class="row" id="error">
            <div class="col-sm-3"></div>
            <div *ngIf="submitted || form.get('keyword')!.invalid && form.get('keyword')!.touched" class="col-sm-9">
                <div *ngIf="form.get('keyword')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start
                    with space
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="table-responsive" style="overflow-y: hidden;">
        <table class="table table-bordered table-hover exptable" id="myTable" matSort
            (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th style="min-width: 50px; width: 50px">
                        <input type="checkbox" class="fcontrol" (change)="checkUncheckAll()" [(ngModel)]="isCheckAll">
                    </th>
                    <th style="width: 80px" mat-sort-header="index">စဉ်</th>
                    <th style="width: 100px" mat-sort-header="name">အမည်</th>
                    <th style="width: 100px" mat-sort-header="fatherName">အဖအမည်</th>
                    <th style="width: 100px" mat-sort-header="monasteryHeadmaster">ကျောင်းထိုင်ဆရာတော်</th>
                    <th style="width: 100px" mat-sort-header="monasteryName">ကျောင်းတိုက်</th>
                    <th style="width: 100px" mat-sort-header="region">ပြည်နယ်/တိုင်း</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of sortedData">
                    <td>
                        <input type="checkbox" class="fcontrol" (change)="isAllSelected($event, element.id)"
                            [(ngModel)]="element.check" value="{{element.id}}">
                    </td>
                    <td>{{element.index}}</td>
                    <td>{{element.name}}</td>
                    <td>{{element.fatherName}}</td>
                    <td>{{element.monasteryHeadmaster}}</td>
                    <td>{{element.monasteryName}}</td>
                    <td>{{element.region.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 style="color: red" *ngIf="sortedData.length == 0">No record found!</h2>
    <app-page-navigator [currentPage]="currentPage" [totalPageCount]="pageData.totalPages"
        (enterPaginationEvent)="enterPaginationEvent($event)" *ngIf="sortedData.length != 0"></app-page-navigator>
</div>