<div class="container-fluid hrow">
  <div class="row">
    <h4>ကိုယ်ရေးအချက်အလက်ပြင်ခြင်း</h4>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-1 col-sm-3 col-md-3"></div>
  <div class="col-xs-10 col-sm-6 col-md-6">
    <form [formGroup]="form" (ngSubmit)="update()" accept-charset="utf-8" htmlEscape="true"
      enctype="multipart/form-data" autocomplete="off">
      <div class="form-group">
        <label>First Name<span class="star">*</span></label>
        <input type="text" formControlName="firstName" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('firstName')!.invalid && form.get('firstName')!.touched">
          <div *ngIf="form.get('firstName')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('firstName')!.errors?.['maxlength']" class="txt-error">Must not exceed 300 characters
          </div>
          <div *ngIf="form.get('firstName')!.errors?.['pattern']" class="txt-error">Must match with valid pattern</div>
          <div *ngIf="form.get('firstName')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with
            space</div>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name<span class="star">*</span></label>
        <input type="text" formControlName="lastName" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('lastName')!.invalid && form.get('lastName')!.touched">
          <div *ngIf="form.get('lastName')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('lastName')!.errors?.['maxlength']" class="txt-error">Must not exceed 300 characters
          </div>
          <div *ngIf="form.get('lastName')!.errors?.['pattern']" class="txt-error">Must match with valid pattern</div>
          <div *ngIf="form.get('lastName')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with
            space</div>
        </div>
      </div>
      <div class="form-group">
        <label>Username<span class="star">*</span></label>
        <input type="text" formControlName="loginUserName" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('loginUserName')!.invalid && form.get('loginUserName')!.touched">
          <div *ngIf="form.get('loginUserName')!.errors?.['required']" class="txt-error">Field is required</div>
          <div *ngIf="form.get('loginUserName')!.errors?.['maxlength']" class="txt-error">Must not exceed 100 characters
          </div>
          <div *ngIf="form.get('loginUserName')!.errors?.['pattern']" class="txt-error">Must match with valid pattern
          </div>
          <div *ngIf="form.get('loginUserName')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start
            with space</div>
        </div>
      </div>
      <div class="form-group">
        <label>Role<span class="star">*</span></label>
        <select formControlName="role" class="form-control">
          <option [ngValue]="''">Choose</option>
          <option *ngFor="let r of roleList" [ngValue]="r.id">
            {{r.name}}
          </option>
        </select>
        <div *ngIf="submitted || form.get('role')!.invalid && form.get('role')!.touched">
          <div *ngIf="form.get('role')!.errors?.['required']" class="txt-error">Field is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Old Password<span class="star">*</span></label>
        <input type="text" formControlName="oldPassword" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('oldPassword')!.invalid && form.get('oldPassword')!.touched">
          <div *ngIf="form.get('oldPassword')!.errors?.['required']" class="txt-error">Field is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>New Password<i class="fa fa-random" style="margin-left: 10px; cursor: pointer;"
            (click)="generateRandomPassword()"></i></label>
        <input type="text" formControlName="newPassword" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('newPassword')!.invalid && form.get('newPassword')!.touched">
          <div *ngIf="form.get('newPassword')!.errors?.['pattern']" class="txt-error">Must match with password pattern
          </div>
          <div *ngIf="form.get('newPassword')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start with
            space</div>
          <div *ngIf="form.get('newPassword')!.errors?.['containSpace']" class="txt-error">Must not contain spaces</div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="text" formControlName="confirmPassword" class="form-control" autocomplete="off" />
        <div *ngIf="submitted || form.get('confirmPassword')!.invalid && form.get('confirmPassword')!.touched">
          <div *ngIf="form.get('confirmPassword')!.errors?.['pattern']" class="txt-error">Must match with password
            pattern</div>
          <div *ngIf="form.get('confirmPassword')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not start
            with space
          </div>
          <div *ngIf="form.get('confirmPassword')!.errors?.['containSpace']" class="txt-error">Must not contain spaces
          </div>
          <div *ngIf="form.errors?.['notMatch']" class="txt-error">Must match with new password</div>
        </div>
      </div>
      <div class="form-group">
        <div class="alert alert-success">
          <h5>Password Policies:</h5>
          A digit must occur at least once.<br>
          A lowercase alphabet must occur at least once.<br>
          An uppercase alphabet that must occur at least once.<br>
          A special character that must occur at least once.<br>
          White spaces are not allowed.<br>
          At least 8 characters and at most 30 characters
        </div>
      </div>
      <div class="form-group">
        <div class="lbtn">
          <button type="submit" class="bsearch btn">Update</button>
          <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
          <button type="button" class="bsearch btn" (click)="back()">Back</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>