<div class="hrow">
    <h4>စာမေးပွဲဖြေဆိုခွင့်ကတ်ထုတ်ခြင်း</h4>
</div>
<div class="container-fluid">
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <form [formGroup]="form" (ngSubmit)="search()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label>စာသင်နှစ်<span class="star">*</span></label>
                <select formControlName="academicYear" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let a of academicYearList" [ngValue]="a.id">
                        {{a.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('academicYear')!.invalid && form.get('academicYear')!.touched">
                    <div *ngIf="form.get('academicYear')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>စာမေးပွဲခေါင်းစဉ်<span class="star">*</span></label>
                <select formControlName="examTitle" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let e of examTitleList" [ngValue]="e.id">
                        {{e.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('examTitle')!.invalid && form.get('examTitle')!.touched">
                    <div *ngIf="form.get('examTitle')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>အတန်း<span class="star">*</span></label>
                <select formControlName="grade" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let g of gradeList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('grade')!.invalid && form.get('grade')!.touched">
                    <div *ngIf="form.get('grade')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <div class="lbtn">
                    <button type="submit" class="bsearch btn">Search</button>
                    <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>
<hr *ngIf="valid">
<div class="container-fluid" *ngIf="valid">
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <form [formGroup]="submitForm" (ngSubmit)="submit()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off" *ngIf="dataList.length != 0">
            <div class="form-group">
                <label>ကျင်းပမည့်နေ့စွဲ<span class="star">*</span></label>
                <input type="date" formControlName="cardDate" class="form-control" autocomplete="off" />
                <div
                    *ngIf="submittedForm || submitForm.get('cardDate')!.invalid && submitForm.get('cardDate')!.touched">
                    <div *ngIf="submitForm.get('cardDate')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>စာမေးပွဲကျင်းပသည့်အကြိမ်<span class="star">*</span></label>
                <input type="text" formControlName="examHoldingTimes" class="form-control" autocomplete="off" />
                <div
                    *ngIf="submittedForm || submitForm.get('examHoldingTimes')!.invalid && submitForm.get('examHoldingTimes')!.touched">
                    <div *ngIf="submitForm.get('examHoldingTimes')!.errors?.['required']" class="txt-error">Field is
                        required
                    </div>
                    <div *ngIf="submitForm.get('examHoldingTimes')!.errors?.['pattern']" class="txt-error">Must be
                        between 1 and
                        200</div>
                    <div *ngIf="submitForm.get('examHoldingTimes')!.errors?.['startingWithWhiteSpace']"
                        class="txt-error">Must not
                        start with space</div>
                </div>
            </div>
            <div class="form-group">
                <div class="lbtn">
                    <button type="submit" class="bsearch btn">Generate</button>
                    <button type="button" class="bsearch btn" (click)="resetForm()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>
<div class="container-fluid" *ngIf="valid">
    <div class="table-responsive" *ngIf="valid" style="overflow-y: hidden;">
        <table class="table table-bordered table-hover exptable" id="myTable" matSort
            (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th style="min-width: 50px; width: 50px">
                        <input type="checkbox" class="fcontrol" (change)="checkUncheckAll()" [(ngModel)]="isCheckAll">
                    </th>
                    <th style="width: 80px" mat-sort-header="index">စဉ်</th>
                    <th style="width: 100px" mat-sort-header="regNo">ခုံနံပါတ်</th>
                    <th style="width: 100px" mat-sort-header="name">အမည်</th>
                    <th style="width: 100px" mat-sort-header="fatherName">အဖအမည်</th>
                    <th style="width: 100px" mat-sort-header="monasteryHeadmaster">ဆရာတော်</th>
                    <th style="width: 100px" mat-sort-header="monasteryName">ကျောင်းတိုက်</th>
                    <th style="width: 100px" mat-sort-header="region">ပြည်နယ်/တိုင်း</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of sortedData">
                    <td>
                        <input type="checkbox" class="fcontrol" (change)="isAllSelected($event, element.id)"
                            [(ngModel)]="element.check" value="{{element.id}}">
                    </td>
                    <td>{{element.index}}</td>
                    <td *ngIf="element.regNo">{{element.regNo}}</td>
                    <td *ngIf="!element.regNo">-</td>
                    <td>{{element.student.name}}</td>
                    <td>{{element.student.fatherName}}</td>
                    <td>{{element.student.monasteryHeadmaster}}</td>
                    <td>{{element.student.monasteryName}}</td>
                    <td>{{element.student.region.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 style="color: red" *ngIf="sortedData.length == 0 && valid">No record found!</h2>
    <app-page-navigator [currentPage]="currentPage" [totalPageCount]="pageData.totalPages"
        *ngIf="dataList.length != 0 && valid"
        (enterPaginationEvent)="enterPaginationEvent($event)"></app-page-navigator>
</div>