<div class="container-fluid hrow">
    <div class="row">
        <h4>ဘာသာရပ်ကြီးစာမေးပွဲစာရင်းပြင်ခြင်း</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <form [formGroup]="form" (ngSubmit)="update()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label>စာသင်နှစ်<span class="star">*</span></label>
                <select formControlName="academicYear" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let a of academicYearList" [ngValue]="a.id">
                        {{a.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('academicYear')!.invalid && form.get('academicYear')!.touched">
                    <div *ngIf="form.get('academicYear')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>စာမေးပွဲခေါင်းစဉ်<span class="star">*</span></label>
                <select formControlName="examTitle" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let e of examTitleList" [ngValue]="e.id">
                        {{e.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('examTitle')!.invalid && form.get('examTitle')!.touched">
                    <div *ngIf="form.get('examTitle')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>ဘာသာရပ်ကြီး<span class="star">*</span></label>
                <select formControlName="subjectType" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let s of subjectTypeList" [ngValue]="s.id">
                        {{s.name}} ({{s.grade.name}})
                    </option>
                </select>
                <div *ngIf="submitted || form.get('subjectType')!.invalid && form.get('subjectType')!.touched">
                    <div *ngIf="form.get('subjectType')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>ဖြေဆိုမည့်ရက်စွဲ<span class="star">*</span></label>
                <input type="date" formControlName="examDate" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('examDate')!.invalid && form.get('examDate')!.touched">
                    <div *ngIf="form.get('examDate')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>စတင်မည့်အချိန်<span class="star">*</span></label>
                <input type="time" formControlName="startTime" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('startTime')!.touched">
                    <div *ngIf="form.errors?.['required']" class="txt-error">Field is required</div>
                    <div *ngIf="form.errors?.['isEqualToOrGreaterThan']" class="txt-error">Must be less than end time
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>ပြီးဆုံးမည့်အချိန်<span class="star">*</span></label>
                <input type="time" formControlName="endTime" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('endTime')!.invalid && form.get('endTime')!.touched">
                    <div *ngIf="form.get('endTime')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>အောင်မှတ်<span class="star">*</span></label>
                <input type="text" formControlName="passMark" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('passMark')!.touched">
                    <div *ngIf="form.errors?.['requiredPassMarkError']" class="txt-error">Field is required</div>
                    <div *ngIf="form.errors?.['passMarkRangeError']" class="txt-error">Must be between 1 and 100</div>
                    <div *ngIf="form.errors?.['lessThanError']" class="txt-error">Must be less than mark percentage
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>ပေးမှတ်<span class="star">*</span></label>
                <input type="text" formControlName="markPercentage" class="form-control" autocomplete="off" />
                <div *ngIf="submitted || form.get('markPercentage')!.touched">
                    <div *ngIf="form.errors?.['requiredMarkPercentageError']" class="txt-error">Field is required</div>
                    <div *ngIf="form.errors?.['markPercentageRangeError']" class="txt-error">Must be between 1 and 100
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="lbtn">
                    <button type="submit" class="bsearch btn">Update</button>
                    <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
                    <button type="button" class="bsearch btn" (click)="back()">Back</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>