<div class="container-fluid hrow">
  <div class="row">
    <h4>အခန်းစာရင်းပြင်ခြင်း</h4>
  </div>
</div>
<div class="container-fluid">
  <form [formGroup]="form" (ngSubmit)="update()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data"
    autocomplete="off">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <label>စာသင်နှစ်<span>*</span></label>
          </div>
          <div class="col-sm-6">
            <select formControlName="academicYear" class="fcontrol">
              <option [ngValue]="''">Choose</option>
              <option *ngFor="let y of yearList" [ngValue]="y.id">
                {{y.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div *ngIf="submitted || form.get('academicYear')!.invalid && form.get('academicYear')!.touched"
            class="col-sm-6" style="color: red">
            <div *ngIf="form.get('academicYear')!.errors?.['required']">Field is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label>အတန်း<span>*</span></label>
          </div>
          <div class="col-sm-6">
            <select formControlName="grade" class="fcontrol">
              <option [ngValue]="''">Choose</option>
              <option *ngFor="let g of gradeList" [ngValue]="g.id">
                {{g.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div *ngIf="submitted || form.get('grade')!.invalid && form.get('grade')!.touched" class="col-sm-6"
            style="color: red">
            <div *ngIf="form.get('grade')!.errors?.['required']">Field is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label>အခန်း<span>*</span></label>
          </div>
          <div class="col-sm-6">
            <input type="text" formControlName="name" class="fcontrol" autocomplete="off" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div *ngIf="submitted || form.get('name')!.invalid && form.get('name')!.touched" class="col-sm-6"
            style="color: red">
            <div *ngIf="form.get('name')!.errors?.['required']">Field is required</div>
            <div *ngIf="form.get('name')!.errors?.['maxlength']">Must not exceed 100 characters</div>
            <div *ngIf="form.get('name')!.errors?.['pattern']">Must not include special characters</div>
            <div *ngIf="form.get('name')!.errors?.['startingWithWhiteSpace']">Must not start with space</div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4 col-sm-6">
        <button type="submit" class="bsearch btn">Update</button>
        <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
        <button type="button" class="bsearch btn" (click)="back()">Back</button>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </form>
</div>