<div class="container-fluid hrow">
    <div class="row">
        <h4>စာမေးပွဲကုစားစာရင်းကြည့်ခြင်း</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <form [formGroup]="form" (ngSubmit)="search()" accept-charset="utf-8" htmlEscape="true"
            enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label>စာသင်နှစ်<span class="star">*</span></label>
                <select formControlName="academicYear" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let a of academicYearList" [ngValue]="a.id">
                        {{a.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('academicYear')!.invalid && form.get('academicYear')!.touched">
                    <div *ngIf="form.get('academicYear')!.errors?.['required']" class="txt-error">Field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>စာမေးပွဲခေါင်းစဉ်<span class="star">*</span></label>
                <select formControlName="examTitle" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let e of examTitleList" [ngValue]="e.id">
                        {{e.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('examTitle')!.invalid && form.get('examTitle')!.touched">
                    <div *ngIf="form.get('examTitle')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>အတန်း<span class="star">*</span></label>
                <select formControlName="grade" class="form-control">
                    <option [ngValue]="''">Choose</option>
                    <option *ngFor="let g of gradeList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
                <div *ngIf="submitted || form.get('grade')!.invalid && form.get('grade')!.touched">
                    <div *ngIf="form.get('grade')!.errors?.['required']" class="txt-error">Field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>ခုံနံပါတ်/အမည်/အဖအမည်</label>
                <input type="text" formControlName="keyword" class="form-control" autocomplete="off"
                    placeholder="Filter Search" />
                <div *ngIf="submitted || form.get('keyword')!.invalid && form.get('keyword')!.touched">
                    <div *ngIf="form.get('keyword')!.errors?.['startingWithWhiteSpace']" class="txt-error">Must not
                        start with
                        space</div>
                </div>
            </div>
            <div class="form-group">
                <div class="lbtn">
                    <button type="submit" class="bsearch btn">Search</button>
                    <button type="button" class="bsearch btn" (click)="reset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3"></div>
</div>
<hr *ngIf="valid">
<div class="container-fluid">
    <div style="padding: 20px;" *ngIf="dataList.length != 0 && valid">
        <h3>ဖြေဆိုသူစုစုပေါင်း = {{totalAnswered}}</h3>
        <h3>အောင်မြင်သူစုစုပေါင်း = {{totalPassed}}</h3>
        <h3>ကျရှုံးသူစုစုပေါင်း = {{totalFailed}}</h3>
        <h3>ကုစားသူစုစုပေါင်း = {{totalModerated}}</h3>
    </div>
    <button class="btn" (click)="exportToExcel()" style="float: right; margin-bottom: 10px;"
        *ngIf="dataList.length != 0 && valid">Export to
        Excel</button>
    <div class="table-responsive" *ngIf="dataList.length != 0 && valid" style="overflow-y: hidden; margin-top: 60px">
        <table class="table table-bordered table-hover exptable" id="myTable" *ngIf="dataList.length != 0">
            <thead>
                <tr>
                    <th style="width: 80px; vertical-align: middle;" rowspan="3">စဉ်</th>
                    <th style="width: 100px; vertical-align: middle;" rowspan="3">ခုံနံပါတ်</th>
                    <th style="width: 100px; vertical-align: middle;" rowspan="3">အမည်</th>
                    <th style="width: 100px; vertical-align: middle;" rowspan="3">အဖအမည်</th>
                    <th style="vertical-align: middle;" *ngFor="let customExam of tableHeader.customExamList"
                        [attr.colspan]="customExam.examSubjectCount + 1">{{customExam.exam.subjectType.name}}</th>
                    <th style="width: 150px; vertical-align: middle;" rowspan="2">ဘာသာရပ်ကြီးအားလုံးပေါင်း</th>
                    <th style="width: 120px; vertical-align: middle;" rowspan="3">အောင်/ရှုံး/ကုစား</th>
                </tr>
                <tr>
                    <th *ngFor="let examSubject of tableHeader.examSubjectList">{{examSubject}}</th>
                </tr>
                <tr>
                    <th *ngFor="let givenMark of tableHeader.givenMarkList">{{givenMark}}</th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of dataList">
                    <td>{{element.index}}</td>
                    <td *ngIf="element.attendance.studentClass.regNo">{{element.attendance.studentClass.regNo}}</td>
                    <td *ngIf="!element.attendance.studentClass.regNo">-</td>
                    <td>{{element.attendance.studentClass.student.name}}</td>
                    <td>{{element.attendance.studentClass.student.fatherName}}</td>
                    <ng-container *ngFor="let e of element.examResultList">
                        <td *ngFor="let s of e.subjectResultList"
                            [ngStyle]="{'color' : s.status == 'fail' ? 'red' : s.status == 'pass' ? 'green' : s.status == 'moderation' ? 'orange' : 'black'}">
                            {{s.mark}}
                        </td>
                        <td [ngStyle]="{'color' : e.status == 'fail' ? 'red' : e.status == 'pass' ? 'green' : 'black'}">
                            {{e.mark}}</td>
                    </ng-container>
                    <td
                        [ngStyle]="{'color' : element.overAllMark.status == 'fail' ? 'red' : element.overAllMark.status == 'pass' ? 'green' : 'black'}">
                        {{element.overAllMark.mark}}</td>
                    <td *ngIf="element.status == 'fail'" style="color: red">ရှုံး</td>
                    <td *ngIf="element.status == 'pass'" style="color: green">အောင်</td>
                    <td *ngIf="element.status == 'moderation'" style="color: orange">ကုစား</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 style="color: red" *ngIf="dataList.length == 0  && valid">No record found!</h2>
    <app-page-navigator [currentPage]="currentPage" [totalPageCount]="pageData.totalPages"
        *ngIf="dataList.length != 0 && valid"
        (enterPaginationEvent)="enterPaginationEvent($event)"></app-page-navigator>
</div>