<div class="container-fluid hrow">
    <div class="row">
        <h4>စာသင်သားကိုယ်ရေးအချက်အလက်</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    <label>စာသင်သားအမည်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>စာရင်းသွင်းသည့်နေ့စွဲ</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.regDate}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>မွေးသက္ကရာဇ်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.dob}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>ကျား/မ</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.sex}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>လူမျိုး</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.nationality}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>သာသနာရေးမှတ်ပုံတင်နံပါတ်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.nrc}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>အဖအမည်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.fatherName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>အမိအမည်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.motherName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>နေရပ်လိပ်စာ</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.address}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>ပြည်နယ်/တိုင်း</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.region.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>ကျောင်းတိုက်အမည်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.monasteryName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>ကျောင်းထိုင်ဆရာတော်အမည်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.monasteryHeadmaster}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>ကျောင်းတိုက်တည်နေရာ(မြို့နယ်)</label>
                </div>
                <div class="col-xs-6">
                    <label>{{student.monasteryTownship}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <button type="button" class="bsearch btn" (click)="back()">Back</button>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>