.sidenav {
  min-height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;

  left: 0;
  background: linear-gradient(to bottom, #ffffff 30%, #ebe6ff 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}  