<div class="hrow">
    <h4>ဖြေဆိုခဲ့သောဘာသာရပ်ကြီးစာမေးပွဲများ</h4>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    <label>ခုံနံပါတ်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{studentClass.regNo}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>စာသင်သားအမည်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{studentClass.student.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>အဖအမည်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{studentClass.student.fatherName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>စာသင်နှစ်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{studentClass.studentClass.academicYear.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>စာမေးပွဲခေါင်းစဉ်</label>
                </div>
                <div class="col-xs-6">
                    <label>{{studentClass.examTitle.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>အတန်း</label>
                </div>
                <div class="col-xs-6">
                    <label>{{studentClass.studentClass.grade.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <button type="button" class="bsearch btn" (click)="back()">Back</button>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <hr>
    <div class="table-responsive" style="overflow-y: hidden;">
        <table class="table table-bordered table-hover exptable" id="myTable" matSort (matSortChange)="sortData($event)"
            [ngStyle]="{'width': userInfo.role.name === 'EXAM_MARK_ENTRY' ? '100%' : userInfo.role.name === 'ADMIN' ? '70%' : '30%'}"
            style="margin: auto">
            <caption style="text-align: center; color: red">
                <h4>ဖြေဆိုခဲ့သောဘာသာရပ်ကြီးစာမေးပွဲများ</h4>
            </caption>
            <thead>
                <tr>
                    <th style="width: 80px" mat-sort-header="index">စဉ်</th>
                    <th style="width: 200px" mat-sort-header="subjectType">ဘာသာရပ်ကြီးစာမေးပွဲ</th>
                    <th style="width: 100px" mat-sort-header="mark">ရမှတ်</th>
                    <th style="width: 100px" mat-sort-header="passMark">အောင်မှတ်
                    </th>
                    <th style="width: 100px" mat-sort-header="markPercentage">ပေးမှတ်</th>
                    <th style="width: 100px" mat-sort-header="result">အောင်/ရှုံး
                    </th>
                    <th style="width: 200px" *ngIf="userInfo.role.name === 'EXAM_MARK_ENTRY'">စာရင်းသွင်းခြင်း</th>
                    <th style="width: 200px" *ngIf="userInfo.role.name === 'EXAM_MARK_ENTRY'">စာရင်းပြင်ခြင်း</th>
                    <th style="width: 200px" *ngIf="userInfo.role.name === 'EXAM_MARK_ENTRY'">စာရင်းကြည့်ခြင်း</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of sortedData">
                    <td>{{element.index}}</td>
                    <td>{{element.exam.subjectType.name}}</td>
                    <td *ngIf="element.mark == '-'">
                        -</td>
                    <td *ngIf="element.mark != '-'"
                        [ngStyle]="{'color': element.mark < element.exam.passMark ? 'red' : 'green'}">
                        <b>{{element.mark}}</b>
                    </td>
                    <td>
                        {{element.exam.passMark}}</td>
                    <td>
                        {{element.exam.markPercentage}}</td>
                    <td *ngIf="element.mark == '-'">
                        -</td>
                    <td *ngIf="element.mark != '-'" [ngStyle]="{'color': element.result === 'ရှုံး' ? 'red' : 'green'}">
                        <b>{{element.result}}</b>
                    </td>
                    <td *ngIf="userInfo.role.name === 'EXAM_MARK_ENTRY'"><a style="cursor: pointer"
                            (click)="navigateToSaveForm(element.id, element.exam.id)">အမှတ်စာရင်းသွင်းရန်</a></td>
                    <td *ngIf="userInfo.role.name === 'EXAM_MARK_ENTRY'"><a style="cursor: pointer"
                            (click)="navigateToEditForm(element.id, element.exam.id)">အမှတ်စာရင်းပြင်ရန်</a></td>
                    <td *ngIf="userInfo.role.name === 'EXAM_MARK_ENTRY'"><a style="cursor: pointer"
                            (click)="navigateToDetail(element.id, element.exam.id)">အမှတ်စာရင်းကြည့်ရန်</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 style="color: red" *ngIf="sortedData.length == 0">No record found!</h2>
</div>